/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #00ced1;
    --secundario: #ae97f9;
    --gris: #757575;
    --facebook-i: #030543;
    --facebook-j: #2900f4;
    --twitter-i: #00bfff;
    --twitter-j: #006eff;
    --linkedin-i: #057eff;
    --linkedin-j: #091e92;
    --correo-i: #ff4c88;
    --correo-j: #cb0ab8;
}

html {
    font-size: 55%;
    box-sizing: inherit;
  }

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

fieldset{
    border: 0;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    display: flex;
    margin: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container_form{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    margin: 10px;
}

form {
    height: 55vh;
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


button {
    width: 20%;
}

.col-12 {
    display: flex;
    justify-content: center;
}

fieldset .form-control {
    width: 200%;
    height: 5vh;
    font-size: 1.8vh;
}

@media (max-width: 767px) {
    fieldset .form-control {
        width: 100%;
    }
}

@media (max-width: 872px) {
    h1 {
        font-size: 3rem;
        font-weight: 700;
        display: flex;
        height: 10%;
        margin: 4vh;
    }
    .container_form {
        padding-top: 10px;
        align-items: baseline;  
    }
}
