/* Estilos generales */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #00ced1;
    --secundario: #ae97f9;
    --gris: #757575;
    --facebook-i: #030543;
    --facebook-j: #2900f4;
    --twitter-i: #00bfff;
    --twitter-j: #006eff;
    --linkedin-i: #057eff;
    --linkedin-j: #091e92;
    --correo-i: #ff4c88;
    --correo-j: #cb0ab8;
}

html {
    font-size: 55%;
    box-sizing: inherit;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

fieldset{
    border: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para el botón de guardar cambios */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para los párrafos de información */
p {
    margin-bottom: 10px;
}

/* Estilos para el formulario */
#update-form {
    margin-top: 20px;
}

/* Estilos para el campo "Género" */
#genre {
    width: 100%;
}

/* Otras etiquetas o elementos que desees personalizar */