@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #00ced1;
  --secundario: #ae97f9;
  --gris: #757575;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-size: 16px;
  text-align: center;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bike" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="%236f32be" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M19 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M12 19l0 -4l-3 -3l5 -4l2 3l3 0" /><path d="M17 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>'),
    auto;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
#ciclorutas-container.with-margin {
  margin-top: 50px;
}

#ciclorutas-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#ciclorutas-container h2 {
  color: var(--primario);
}

#ciclorutas-container h3 {
  color: var(--secundario);
  margin-top: 20px;
}

#ciclorutas-container ul {
  list-style: none;
  padding: 0;
}

#ciclorutas-container li {
  margin-bottom: 10px;
}
