:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #00ced1;
  --secundario: #ae97f9;
  --gris: #757575;
}

html {
  font-size: 55%;
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bike" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="%236f32be" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M19 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M12 19l0 -4l-3 -3l5 -4l2 3l3 0" /><path d="M17 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>'),
    auto;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  font-size: 18px; 
}

.titulo {
  margin-bottom: 20px;
}

.mensaje {
  margin-bottom: 30px;
  text-align: center;
}
.comunidades-box {
  margin: 0 auto; /* Centra la caja morada en el contenedor */
  width: 60%; /* Ancho de la caja morada */
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centra el texto dentro de la caja morada */
}

.comunidades-box h2 {
  text-align: center;
}

.comunidades-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 0 auto; /* Centra la lista en el contenedor */
}

.comunidades-box li {
  margin-bottom: 10px;
}

.comunidades-box a {
  text-decoration: none;
  color: var(--blanco);
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--secundario);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.comunidades-box a:hover {
  background-color: var(--primario);
  text-decoration: underline;
}

.boton-crear-comunidad {
  display: block;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  width: 60%; /* Ocupa el mismo ancho que .comunidades-box */
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  background-color: var(--primario);
  color: var(--blanco);
  text-decoration: none;
  border-radius: 25px; /* Bordes redondeados */
  border: 2px solid var(--primario); /* Borde del botón */
  text-align: center; /* Centra el texto dentro del botón */
  transition: background-color 0.3s ease;
}

.boton-crear-comunidad:hover {
  background-color: var(--secundario); /* Cambia el color de fondo al pasar el cursor sobre el botón */
  border-color: var(--secundario); /* Cambia el color del borde al pasar el cursor sobre el botón */
}
p{
  text-align: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 872px) {
  .navegacion-principal {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secundario);
    border-radius: 10px;
    margin: 8px;
  }
}
