:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #00ced1;
  --secundario: #ae97f9;
  --gris: #757575;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  text-align: center;
  font-family: "Krub", sans-serif;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bike" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="%236f32be" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M19 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M12 19l0 -4l-3 -3l5 -4l2 3l3 0" /><path d="M17 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>'),
    auto;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
#ciclorutas-container.with-margin {
  margin-top: 60px;
}

#map {
  height: 100vh;
}
.text-reset {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
#menu-lateral {
  background-color: #c9d6ff96;
  margin-top: 72px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  padding: 20px;
  z-index: 1000; 
}

/* Ajustes para el contenido principal */
#map {
  margin-left: 290px; /* Ancho del menú lateral + 20px de espacio adicional */
  /* Otros estilos para el contenido principal, si es necesario */
}
#menu-lateral h1 {
  font-size: 24px;
  color: var(--oscuro);
  margin-bottom: 20px;
}
#menu-lateral input {
  width: 100%; /* Asegura que los inputs ocupen el 100% del ancho disponible */
  height: 40px; /* Ajusta la altura según tus preferencias */
  margin-bottom: 10px; /* Agrega espacio entre los inputs */
  border-radius: 10px;/*borde de los textos*/
}