@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #00ced1;
  --secundario: #ae97f9;
  --gris: #757575;
  --facebook-i: #030543;
  --facebook-j: #2900f4;
  --twitter-i: #00bfff;
  --twitter-j: #006eff;
  --linkedin-i: #057eff;
  --linkedin-j: #091e92;
  --correo-i: #ff4c88;
  --correo-j: #cb0ab8;
}

html {
  font-size: 62.5%;
  background-color: rgb(98, 83, 74);
}

body {
  font-size: 16px;
  text-align: center;
  background: linear-gradient(to right, rgb(98, 83, 74), rgb(99, 93, 85));  
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bike" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="%236f32be" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M19 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M12 19l0 -4l-3 -3l5 -4l2 3l3 0" /><path d="M17 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>'),
  auto;
}

#ciclorutas-container.with-margin {
  margin-top: 50px;
}

h1, h2, h3 {
  text-align: center;
}

.header {
  height: 60vh !important;
  background: linear-gradient(rgba(47, 50, 57, 0.75), rgba(32, 35, 42, 0.219)),
    url("../img/bisi.webp") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

p {
  margin-bottom: 40px;
  font-size: 18px;
  color: #ffffff;
  padding: 0 100px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #9c27b0;
  color: #fff;
  text-decoration: none;
  background: #9c27b0;
}

.btn:hover {
  background: none;
}

.imag {
  width: 9%;
  height: auto;
}

.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ciclorutas {
  padding: 30px;
  background: #20325c;
}

.ciclorutas .imag {
  width: 80%;
}

.mapa {
  background: #343c86;
  padding-top: 20px;
  padding-bottom: 50px;
}
.contenido-ter {
  background-color: var(--primario);
  display: flex;
  align-items: center;
  border-radius: 13px;
  padding: 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.contenido-ter .imagen-ter {
  margin-right: 20px;
}

.contenido-ter .imagen-ter img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.contactenos {
  color: #ffffff;
  max-width: 300px;
}

.redesS {
  display: flex;
  align-items: center;
  gap: 20px;
}

.redesS ul {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.redesS ul li {
  position: relative;
  background-color: rgba(255, 251, 0, 0.978);
  list-style: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redesS ul li:hover {
  width: 120px;
}

.redesS ul li i {
  font-size: 1.75em !important;
  transition: 0.5s;
  transition-delay: 0.25s;
}
.redesS ul li .titulo {
  font-family: "Poppins", sans-serif;
  color: #012c49;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.redesS ul li:hover .titulo {
  transform: scale(1);
  transition-delay: 0.25s;
}
@media (max-width: 872px) {
  .navegacion-principal {
    height: auto; /* Establece la altura del menú según su contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secundario);
    border-radius: 10px;
    margin: 8px;
  }
}

@media (max-width: 576px) {
  .header {
    height: 40vh; /* Ajusta la altura de la imagen para pantallas pequeñas */
  }
  .title {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .navegacion-principal a {
    padding: 0.5rem 0.8rem;
  }
  .contactenos h1 {
    font-size: 1.5rem;
  }

  .redesS ul li {
    width: 30px;
    height: 30px;
  }

  .redesS ul li i {
    font-size: 1em;
  }
  .redesS ul li:hover {
    width: 100px;
  }
  .redesS ul li:hover::before {
    opacity: 0;
  }
  .redesS ul li .titulo {
    font-size: 0.5em;
  }
  .redesS ul li:hover .titulo {
    transform: scale(1);
  }
  .navegacion-principal {
    height: auto; /* Establece la altura del menú según su contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secundario);
    border-radius: 10px;
    margin: 8px;
  }
 
  
}
