<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Perfil de Usuario</title>
</head>
<body>
    <h1>Perfil de Usuario</h1>
    <form id="update-form">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ user.name }}" required>
        <br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" value="{{ user.password }}" required>
        <br>
        <input type="submit" value="Guardar Cambios">
    </form>
    <p>Correo: {{ user.email }}</p>
    <p>Fecha de Ingreso: {{ user.regis_date }}</p>
    <p>Género: {{ user.genre }}</p>
</body>
<script src="script.js"></script>
</html>
