{% extends './layout.html' %}

{% block title %}CiloRutas{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stykes_cicloruta.css') }}" />
{% endblock %}


{% block body %}
<div id="ciclorutas-container" class="with-margin">
    <h2>Descubre Barranquilla en Bicicleta: Explora Nuestras Increíbles Ciclorutas</h2>
    <p>Explora la ciudad en dos ruedas a través de nuestras seguras y emocionantes ciclorutas. 
        Desde calles exclusivas para ciclistas hasta rutas compartidas, hay opciones para todos. 
        ¡Únete a la revolución verde, súbete a tu bicicleta y descubre la ciudad mientras cuidas 
        el medio ambiente!</p> 
        <p class="texttwo">Haz clic en el nombre de cada ruta para ver el mapa correspondiente. 
        Además, puedes agregar un destino y nuestro mapa te guiará por la
         mejor cicloruta desde tu ubicación actual. ¡Disfruta del viaje!</p>
    <ul>   
    <h3>Rutas:</h3>
        
        {% for ruta in rutas %}
            <li><a href="/mapa/{{ ruta.initial_latitude_longitude }}/{{ ruta.final_latitude_longitude }}"><strong>{{ ruta.name }}:</strong> {{ ruta.description }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
