{% extends './layout.html' %}

{% block title %}CiloRutas{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stykes_cicloruta.css') }}" />
{% endblock %}


{% block body %}
<div id="ciclorutas-container" class="with-margin">
    <h2>Rutas de Ciclorutas en Barranquilla</h2>
    <p>Si quieres disfrutar de un paseo en bicicleta por Barranquilla, puedes usar las siclorutas que te ofrecen
        seguridad y comodidad. Estas son rutas diseñadas para el uso de las bicicletas, que atraviesan diferentes zonas
        de la ciudad. Algunas son exclusivas para ciclistas, otras son compartidas con vehículos motorizados, y otras
        están en proceso de construcción o propuestas. ¡Anímate a usar tu bicicleta y contribuir al cuidado del medio
        ambiente!</p>
    <h3>Rutas:</h3>
    <ul>
        {% for ruta in rutas %}
            <li><a href="/"><strong>{{ ruta.name }}:</strong> ruta.desciption</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script>
    const ciclorutasContainer = document.getElementById(
        "ciclorutas-container"
    );

    const ciclorutas = `
            
            <ul>
                <li><strong>Ruta 1:</strong> Va desde la Calle 30 hasta la Calle 72, pasando por la Carrera 46 y la Carrera 44. Es una ciclovía exclusiva para bicicletas.</li>
                <li><strong>Ruta 2:</strong> Va desde la Calle 72 hasta la Calle 99, pasando por la Carrera 51B y la Carrera 53. Es una ciclorruta compartida con vehículos motorizados.</li>
                <li><strong>Ruta 3:</strong> Va desde la Calle 99 hasta la Calle 110, pasando por la Carrera 51B y la Carrera 54. Es una ciclorruta en construcción.</li>
                <li><strong>Ruta 4:</strong> Va desde la Calle 110 hasta la Vía al Mar, pasando por la Carrera 51B, la Carrera 59, el Puente Pumarejo y el Corredor Portuario. Es una ciclorruta propuesta.</li>
            </ul>
        `;
    ciclorutasContainer.innerHTML = ciclorutas;
</script>
{% endblock %}