<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina principal</title>
    <link
      rel="icon"
      href="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-bike' width='20' height='20' viewBox='0 0 24 24' stroke-width='3' stroke='%236f32be' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'/><path d='M5 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0' /><path d='M19 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0' /><path d='M12 19l0 -4l-3 -3l5 -4l2 3l3 0' /><path d='M17 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /></svg>"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
  </head>

  <body>
    <my-menu></my-menu>
    <header class="content header">
      <h2 class="title">Bienvenidos a <span>CicloBaq</span></h2>
      <p>
        ¡Bienvenidos a CicloBaq, el destino en línea para los amantes de las
        bicicletas en Barranquilla! Somos apasionados por explorar nuestra
        hermosa ciudad sobre dos ruedas y estamos emocionados de compartir esa
        pasión contigo. En CicloBaq, nos dedicamos a promover un estilo de vida
        activo, sostenible y saludable a través del ciclismo.
      </p>
    </header>

    <section class="content ciclorutas">
      <h2 class="title">Descubre Nuestras Ciclorutas</h2>
      <p>
        Barranquilla es una ciudad llena de encanto y belleza, y queremos
        ayudarte a descubrir cada rincón sobre tu bicicleta. Nuestra página
        cuenta con un mapa interactivo que muestra todas las ciclorutas
        disponibles en la ciudad.
      </p>
      <div class="btn-ciclorutas">
        <a href="ciclorutas.html" class="btn">ciclorutas</a>
      </div>
    </section>
    <section class="content mapa">
      <h2 class="title">mapa</h2>
      <p>un poco de info y mapa interativo</p>
      <figure class="map">
        <img
          src="../static/img/mapa.png"
          height="100px"
          width="200%"
          alt="mapa"
        />
      </figure>
      <div class="btn-mapa">
        <a href="mapa.html" class="btn">Mapa</a>
      </div>
    </section>
    <div id="contactanos" class="contenido-ter">
      <div class="imagen-ter">
        <img src="../static/img/cerr.png" alt="ultima imagen" />
      </div>

      <div class="contactenos">
        <div class="titulo">
          <h1 class="contactenos">Contactenos</h1>
        </div>
        <div class="redesS">
          <ul class="redes">
            <li class="icono facebook">
              <span class="icon"><i class="fa-brands fa-facebook"></i></span>
              <span class="titulo">Facebok</span>
            </li>
            <li class="icono twitter">
              <span class="icon"><i class="fa-brands fa fa-twitter"></i></span>
              <span class="titulo">Twitter</span>
            </li>
            <li class="icono linkedin">
              <span class="icon"><i class="fa-brands fa fa-linkedin"></i></span>
              <span class="titulo">Linkedin</span>
            </li>
            <li class="icono correo">
              <span class="icon"><i class="fa-solid fa-envelope"></i></span>
              <span class="titulo">Correo</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  </body>
</html>
